<div class="mt-4">
    <form method="post">
  <div class="form-search">
    <label for="exampleInputEmail1">Nhập từ khoá</label>
    <input type="text" name="q" class="form-control" id="form-search" placeholder="Từ khoá...">
  </div>

  <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>
</div>